#content{
    width: 85%;
    margin: auto;
}

#content h1{
    margin: 0;
    padding: 0;
}

#content .flex{
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    padding: 10px 20px 0;
}

#content .flex h1{
    font-size: 32px;
    font-weight: 200;
    color: #243238;
}

#content .flex p{
    text-align: center;
    padding: 0;
    margin: 0;
}

#content .flex a{
    color: #808080;
    text-decoration: none;
    transition: color 0.2s, text-decoration 0.2s;
}

#content .flex a:hover{
    color: #243238;
    text-decoration: underline;
}

#content .searchdiv{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 5px;
    margin-top: 5px;
}

label{
    margin-right: 10px;
}

#customer-table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
}

#customer-table td,
#customer-table th {
    border: 2px solid #F5F6FA;
    text-align: left;
    padding: 8px;
}

#customer-table .hidden p{
    visibility: hidden;
    margin: 0;
    padding: 0;
}

#customer-table th{
    background-color: #243238;
    color: white;
}

#customer-table tr:nth-child(even) {
    background-color: #dddddd;
}

#pagination{
    display: grid;
    grid-auto-flow: column;
    justify-content: right;
}

#pagination .page{
    background: none;
    min-width: 40px;
    min-height: 40px;
    margin: 5px;
    margin-left: 0;
    border-radius: 5px;
    border: 2px solid #243238;
    transition: background-color 0.2s, color 0.2s;
}

#pagination .page:hover,
#pagination .active{
    background-color: #243238;
    color: white;
    cursor: pointer;
}