#top{
    padding: 0 80px;
    overflow: hidden;
}

#top h1{
    color: #243238;
    font-weight: 200;
    font-size: 30px;
}

#top #content-title{
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;
}

#description{
    line-height: 25px;
    font-size: 22px;
}

.dark-text{
    color: #243238;
    font-size: 22px;
}

.info{
    display: table-cell;
    width: 45%;
    height: 100%;
    padding: 20px;
}

.left{
    float: left;
}

.right{
    float: right;
}

#park{
    padding: 80px;
    background-color:white;
    color: #243238;
    overflow: hidden;
}

#park p{
    font-size: 22px;
}

#park h1{
    color: #243238;
    font-weight: 400;
    font-size: 30px;
}

#park img{
    float: left;
}

#park div{
    float: right;
}